// Import all of Bootstrap’s CSS
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'maplibre-gl/dist/maplibre-gl.css';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#clickresult {
  max-height: 400px;
}

@media (max-width: 767.98px) {
  #map-container {
    height: 30dvh;
  }
  #text-container {
    height: 70dvh;
  }
}

@media (min-width: 768px) {
  #map-container,
  #text-container {
    height: 100vh;
  }
}

#map {
  height: 100%;
}

.overflow-auto {
  flex-grow: 1;
}

#github {
  height: 25px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
